
@model Domain.Models.Abonnement_ClientModel

@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeClient">Liste des clients</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Ajouter un client</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section id="info-tabs-">
            <div class="row">
                <div class="col-12">
                    <div class="card icon-tab">
                        <div class="card-body">
                            <form class="wizard-horizontal wizard clearfix"  method="post" onsubmit="theButton.disabled = true; return true;" asp-controller="Clients" asp-action="Ajouter" enctype="multipart/form-data">
                                <div class="content clearfix">
                                    <!-- Step 1 -->
                                    <h6 id="steps-uid-1-h-0" tabindex="-1" class="title current">
                                    </h6>
                                    <!-- Step 1 end-->
                                    <!-- body content of step 1 -->
                                    <fieldset id="steps-uid-1-p-0" role="tabpanel" aria-labelledby="steps-uid-1-h-0" class="body current" aria-hidden="false" style="border:2px solid #fff">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6 class="py-50">Informations</h6>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Nom client (FR)</label>
                                                    <input type="text" id="nomClient" asp-for="Abonnement_NomClient" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Nom client (AR)</label>
                                                    <input type="text" id="nomClientAr" asp-for="Abonnement_NomClientAR" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="ICE">Identifiant Commun de l'Entreprise (ICE)</label>
                                                    <input type="number" id="ICE" asp-for="Abonnement_ICE" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Registre Commercial</label>
                                                    <input type="number" id="RC" asp-for="Abonnement_RegistreCommercial" class="form-control" required>

                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="IdentifiantFiscal">Identifiant fiscal</label>
                                                    <input type="number" min="0" id="fs" asp-for="Abonnement_IdentifiantFiscal" class="form-control" required>

                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="onssa"> N° d'autorisation ONSSA</label>
                                                    <input type="text"  asp-for="Abonnement_ONSSAAuthorisation" class="form-control" required>

                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="NomPrenom">Contact nom et prenom</label>
                                                    <input type="text" id="nom" asp-for="Abonnement_ContactNomPrenom" class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="E-mail">E-mail</label>
                                                    <input type="email" asp-for="Abonnement_ContactEmail" class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="">Numéro téléphone</label>
                                                    <input type="number" id="tel" maxlength="10" asp-for="Abonnement_ContactTelephone" class="form-control" required />
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="UserName">Login</label>
                                                    <input type="text" id="login" asp-for="UserName" class="form-control" required />

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="Password">Mot de passe</label>
                                                    <input type="password" id="password" asp-for="Password" class="form-control" required />

                                                </div>
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label>Logo </label>
                                                <div class="custom-file">
                                                    <input type="file" name="files" class="custom-file-input" id="fileinput" required>
                                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                </div>
                                            </div>

                                        </div>
                                        <hr>

                                    </fieldset>
                                    <!-- body content of step 1 end-->
                                </div>
                                
                                <div class="form-action  text-sm-right">
                                    <button class="btn btn-success" name="theButton" type="submit">
                                        <i class="icon-note"></i> Enregistrer
                                    </button>
                                    <a asp-action="ListeClient" class="btn btn-danger">
                                        Annuler
                                    </a>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function ChangeStyle() {
        $('#ClientMobile').addClass('menu--active');
        $('#Betonnier').addClass('top-menu--active');
        $('#Titre').text('Bétonnier');
        $('#SousTitre').text('Ajouter un Bétonnier');
    }
</script>


