@{
    ViewData["Title"] = "Facture";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model Domain.Models.FactureModel

@{
    ViewData["Title"] = "Ajouter une facture";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeFactures">Liste des factures</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Traitement des factures fournisseurs</h4>
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->

                                            <div class="card mb-1">
                                                <!-- form start -->
                                                <form class="needs-validation" novalidate>
                                                    <div class="form-row">
                                                       
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Fournisseur</label>
                                                            <div>
                                                                <select class="custom-select" id="fournisseur" data-search="true" asp-items="@ViewBag.fournisseur"  onchange="getBcFournisseur()" required>
                                                                    <option value="" selected disabled>Sélectionnez un fournisseur ...</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Bon de commande</label>
                                                            <div>
                                                                <select class="custom-select" id="bondecommande" data-search="true"   onchange="SousP()" required>
                                                                    <option value="" selected disabled>Sélectionnez un bon de commande ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Numero Facture</label>
                                                            <div>
                                                                <input type="text" id="num" asp-for="Facture_Numero" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Date de facture</label>
                                                            <div>
                                                                <input type="datetime-local" id="date" asp-for="Facture_DateFacture" class="form-control" />
                                                            </div>
                                                        </div>
                                                        </div>
                                                </form>
                                                <!-- form ends -->
                                                <fieldset id="fieldset" style="display:none;">
                                                    <legend>Détails des articles</legend>
                                                    <div class="row">
                                                        <div class="col-12 mt-2">
                                                            <div class="table-responsive">
                                                                <table id="tableForme" class="table mb-0">
                                                                    <thead>
                                                                        <tr><th><input type="checkbox" class="largerCheckbox" id="chkAll" /></th>
                                                                            <th>N° BL</th>
                                                                            <th>Total HT</th>
                                                                            <th>Montant TVA </th>
                                                                            <th>Total TTC </th>
                                                                            <th>Date de livraison</th>
                                                                            <th>Statut</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="row">
                                                            <div class="col-12 mt-2">
                                                                <div class="table-responsive">
                                                                    <table id="tableFormePret" class="table mb-0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Produit prêt à consommer</th>
                                                                                <th>Forme de produit</th>
                                                                                <th>Quantité à produire</th>
                                                                                <th>Quantité en stock</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                </fieldset>

                                            </div>

                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between border-top text-sm-right">
                                    <div>
                                        <button type="button" class="btn btn-success glow " style="display:none;"></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " id="disabled" onclick="AjoutBonCommande()">Enregistrer la facture</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->
        </div>
    </div>
</div>


<script src="~/js/toastr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function getBcFournisseur()
    {
        var data = { fournisseurID: parseInt($("#fournisseur option:selected").val()) };
        if ($("#fournisseur option:selected").val() != null) {
            $.ajax({
                url: '@Url.Action("getBcFournisseurForArticle", "Fournisseur")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#bondecommande option").length > 1) {
                        $.each($("#bondecommande option"), function (i, item) {
                            item.remove();
                        });
                        $("#bondecommande").append("<option value='' selected disabled>Sélectionnez un bon de commande ...</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#bondecommande").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }


 

    //delete
    function articleDelete(ctl) 
    {
        $(ctl).parents("tr").remove();
       
        /**if ($("#tableCamions tbody tr").length == 0) 
        {
            $("#prixHT").val(0);
            $("#prixTTC").val(0);
            $("#prixTVA").val(0);
        }

        change();**/
    }

 function AjoutBonCommande() {
        document.getElementById('disabled').disabled = true;
        var foursnisseurId = $("#fournisseur option:selected").val() ;
        var boncommande = $("#bondecommande option:selected").val() ;
        var ListBL = new Array();
        var table = document.getElementById("tbodyCamions");
        var matiere = 0;
        var desi = "";
        var FactureModel = {
            Facture_BonDeCommandeID: boncommande,
            Facture_FournisseurID: foursnisseurId,
            Facture_Numero : $("#num").val(), 
            Facture_DateFacture : $("#date").val() 
            //FicheTechniqueBridge_CoutDeRevient: parseFloat(sum),
            //Produit_FicheTechnique: ListMatieres,
            //Fiche_Forme: ListFormes,
            //FicheTech_ProduitBase = new Array(),
        }
        if (table != null)
        {
            for (var i = 0; i < table.rows.length; i++) {
                if (table.rows[i].cells[0].getElementsByTagName('input')[0].checked) {
                    desi = table.rows[i].cells[1].innerHTML;
                    ht = table.rows[i].cells[2].innerHTML;
                    tva = table.rows[i].cells[3].innerHTML;
                    ttc = table.rows[i].cells[4].innerHTML;
                    id = table.rows[i].cells[7].innerHTML;

                    var BLS = {
                        BonDeLivraison_ID: "",
                        BonDeLivraison_Designation: "",
                        BonDeLivraison_TotalHT: "",
                        BonDeLivraison_TotalTVA: "",
                        BonDeLivraison_TotalTTC: ""
                    }

                    BLS.BonDeLivraison_ID = id;
                    BLS.BonDeLivraison_Designation = desi;
                    BLS.BonDeLivraison_TotalHT = parseFloat(ht).toFixed(2).replace(".", ",");
                    BLS.BonDeLivraison_TotalTVA = parseFloat(tva).toFixed(2).replace(".", ",");
                    BLS.BonDeLivraison_TotalTTC = parseFloat(ttc).toFixed(2).replace(".", ",");
                    ListBL.push(BLS);

                }
            }
        }
        //FactureModel.listeBL = ListBL;


            var data = {
                factureModel: FactureModel,
                listeBL : ListBL
        };
            console.log(data);
            $.ajax({
            url: '@Url.Action("AjouterFA", "Fournisseur")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
            success: function (data) {
             if (data == true) {
                        ShowNotification("Facture ajoutée avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        //ShowNotification("Cout de Revient du produit est modifié avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                               window.location.reload();
                            }, 2000);
                    } else {
                        ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                window.location.reload();
                            }, 2000);
                    }
                },
        error: function () {
            alert("non ajoute");
        }
    });
     
        }
        
    var donee;
    function result() {
        var listprod = new Array();
        var obj = {
            listprods: new Array(),
            qte: 0
        };
       // document.getElementById('prodButton').disabled = false;
    //    document.getElementById('demandebutton').style.display = "none";
        if ($("#bondecommande").val() != null) {
            var data2 = {
                boncommande: parseInt($("#bondecommande option:selected").val())
            };
            $.ajax({
                url: '@Url.Action("GetBLForBC", "Fournisseur")',
                type: "POST",
                cache: false,
                async: true,
                data: data2,
                success: function (data) {
                    
                    console.log(data);
                    $("#tableForme tbody").remove();
                    //$("#tableFormePret tbody").remove();
                    document.getElementById('fieldset').style.display = "block";
                    $("#tableForme").append("<tbody id='tbodyCamions'></tbody>");
                    //$("#tableFormePret").append("<tbody id='tbodyCamionsPret'></tbody>");

                    for (i = 0; i < data.length; i++)
                    {
                        $("#tbodyCamions").append("<tr>" +                        
                        "<td class='border-b dark:border-dark-5'>  <input type='checkbox' class='largerCheckbox tblChk chk" + i + "' name='check'/></td>" +
                            "<td class='border-b dark:border-dark-5'>" + data[i].bonDeLivraison_Designation + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data[i].bonDeLivraison_TotalHT + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data[i].bonDeLivraison_TotalTVA + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data[i].bonDeLivraison_TotalTTC + "</td>" +
                            "<td class='border-b dark:border-dark-5'>"+ data[i].bonDeLivraison_DateLivraison +"</td>" +
                            "<td class='border-b dark:border-dark-5'>"+ data[i].statut_BL.statutBL_Name +"</td>" +
                            "<td class='border-b dark:border-dark-5'style='display:none;'>" + data[i].bonDeLivraison_ID + "</td>" +
                            "<td class='border-b dark:border-dark-5'style='display:none;'>" +data[i].bonDeLivraison_StatutID  + "</td>" +
                            "</tr>");

                    }
                    obj.listprods = listprod;
                },
                error: function () {
                }
            });
        }
        return obj;
    }


    function SousP() {
        donee = result();
    }
    function keyUp(ctl){

        var qteLiv = parseFloat($(ctl).closest("tr").find("#qteLiv").val());
        var pu = parseFloat($(ctl).closest("tr").find("td:eq(4)").text());

        console.log(qteLiv * pu);
        $(ctl).closest("tr").find("td:eq(5)").text(parseFloat(qteLiv * pu).toFixed(2));
       // $(ctl).parents("tr");
    }
      $('#tableForme').on('change', '.tblChk', function() {
        if ($('.tblChk:checked').length == $('.tblChk').length) {
            $('#chkAll').prop('checked', true);
        } else {
            $('#chkAll').prop('checked', false);
        }
    });
    $("#chkAll").change(function () {
        if ($(this).prop('checked')) {
          $('.tblChk').not(this).prop('checked', true);
        } else {
          $('.tblChk').not(this).prop('checked', false);
        }
      });
</script>