@{
    ViewData["Title"] = "Bon de commande";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model Domain.Models.BonDeCommande_Model

@{
    ViewData["Title"] = "Ajouter un bon de commande";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeBonDeCommande">Liste des bons de commande</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ajouter un bon de commande</h4>
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->

                                            <div class="card mb-1">
                                                <!-- form start -->
                                                <form class="needs-validation" novalidate>
                                                    <div class="form-row">
                                                       
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Fournisseur</label>
                                                            <div>
                                                                <select class="custom-select" id="fournisseur" data-search="true" asp-items="@ViewBag.fournisseur"  onchange="matiereListe()" required>
                                                                    <option value="" selected disabled>Sélectionnez un fournisseur ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    
                                                     <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Prix total HT</label>
                                                            <div>
                                                                <input type="text" id="prixHT" disabled value="0" class="form-control" />
                                                            </div>
                                                        </div> 
                                                        
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Prix TTC</label>
                                                            <div>
                                                                <input type="text" id="prixTTC" disabled value="0" class="form-control" />
                                                            </div>
                                                        </div> 
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Prix total TVA</label>
                                                            <div>
                                                                <input type="text" id="prixTVA" disabled value="0" class="form-control" />
                                                            </div>
                                                        </div>
                                                        </div>
                                                </form>
                                                <!-- form ends -->

                                                <fieldset>
                                                    <legend>Détails des articles</legend>
                                                    <div class="form-row">
                                                        <div class="col-md-2 mb-1">
                                                            <label for="matierePremiere">Matière première</label>
                                                            <div>
                                                                <select class="custom-select" id="matiere" data-search="true" onchange="uniteListe()">
                                                                    <option value="" selected disabled>Sélectionnez la matière première...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 mb-1">
                                                            <label for="Quantite">Quantité</label>
                                                            <input type="number" min="0" id="qte" step=".01" class="form-control" required />
                                                        </div>
                                                        <div class="col-md-2 mb-1">
                                                            <label for="UniteMesure">Unité</label>
                                                            <div>
                                                                <select class="custom-select" id="unite" data-search="true">
                                                                    <option value="" selected disabled>Sélectionnez une unité de mesure...</option>
                                                                </select>
                                                            </div>
                                                        </div>  
                                                        <div class="col-md-2 mb-1">
                                                            <label for="UniteMesure">Prix / Unité</label>
                                                            <input type="text" class="form-control" required />
                                                        </div>
                                                        <div class="col-md-2 mb-1">
                                                            <label for="total">Total</label>
                                                            <input type="text" disabled class="form-control" required />
                                                        </div>
                                                        <div class=" text-md-right">
                                                            <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="formeadd()">Ajouter à la liste</button>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 mt-2">
                                                            <div class="table-responsive">
                                                                <table id="tableCamions" class="table mb-0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Matière première</th>
                                                                            <th>Quantité</th>
                                                                            <th>Unité</th>
                                                                            <th>Prix / unité</th>
                                                                            <th>Prix total</th>
                                                                            <th></th>
                                                                         
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   

                                                    
                                                </fieldset>
                                            </div>

                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between border-top text-sm-right">
                                    <div>
                                        <button type="button" class="btn btn-success glow " style="display:none;"></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " id="disabled" onclick="AjoutTrpMoral()">Enregistrer le bon de commande</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->
        </div>
    </div>
</div>


<script src="~/js/toastr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    
    function matiereListe()
    {
        var data = { fournisseurId: parseInt($("#fournisseur").val()) };
        if ($("#fournisseur").val() != null) {
            $.ajax({
                url: '@Url.Action("matiereListe", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#matiere option").length > 1) {
                        $.each($("#matiere option"), function (i, item) {
                            item.remove();
                        });
                        $("#matiere").append("<option value='' selected disabled>Sélectionnez La matiere premiere</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#matiere").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }
        function uniteListe()
    {
        var data = { MatierePremiereStokage_Id: parseInt($("#matiere option:selected").val()) };
        if ($("#matiere option:selected").val() != null) {
            $.ajax({
                url: '@Url.Action("getUnite", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#unite option").length > 1) {
                        $.each($("#unite option"), function (i, item) {
                            item.remove();
                        });
                        $("#unite").append("<option value='' selected disabled>Sélectionnez L'unite de mesure</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#unite").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }
</script>