@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model Domain.Models.DistributeurModel

@{
    ViewData["Title"] = "Ajouter Distributeur";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeDistributeur">Liste des distributeurs</a>
                                </li>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ajouter un distributeur</h4>
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <div class="card mb-1">
                                                <!-- form start -->
                                                <form class="needs-validation"  enctype="multipart/form-data" novalidate>
                                                    <div class="form-row">
                                                        <div class="col-md-3 mb-1">
                                                            <label for="RiasonSocial">Raison sociale (FR)</label>
                                                            <input type="text" id="rs" class="form-control" required />
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="RiasonSocial">Raison sociale (AR)</label>
                                                            <input type="text" id="rsA"  onchange="testAR()" class="form-control" required />
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="ICE">ICE </label>
                                                            <input type="number" id="ICE" class="form-control" required />
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="IF">Identifiant fiscal</label>
                                                            <input type="number" id="IF" class="form-control" required />
                                                        </div>
                                                        <div class="col-md-4 mb-1">
                                                            <label for="Adresse"> Adresse</label>
                                                            <input type="text" id="adresse" class="form-control" required />
                                                        </div>
                                                        <div class="col-md-4 mb-1">
                                                            <label for="contact">Contact d'usine</label>
                                                            <input type="text" id="nomcontact"  class="form-control" required />
                                                        </div>
                                                        <div class="col-md-4 mb-1">
                                                            <label for="noTel">Téléphone</label>
                                                            <input type="tel" id="noTel" maxlength="10"  class="form-control" required />
                                                        </div>
                                                         <div class="col-md-6">
                                                             <label>Photo</label>
                                                             <div class="custom-file">
                                                                 <input type="file" name="files" class="custom-file-input" id="fileinput" required>
                                                                 <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                                             </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- form ends -->
                                            </div>

                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between border-top text-sm-right">
                                    <div>
                                        <button type="button" class="btn btn-success glow " style="display:none;"></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " id="disabled" onclick="AjoutTrpMoral()">Enregistrer le distributeur </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->
        </div>
    </div>
</div>
<script src="~/js/toastr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
 


    function AjoutTrpMoral() {
        document.getElementById('disabled').disabled = true;
        var FournisseurRS = $("#rs").val();
        var FournisseurRSAR = $("#rsA").val();
        var ICE = $("#ICE").val();
        var Adresse = $("#adresse").val();
        var IF = $("#IF").val();
        var NomContact = "";
        var FonctionContact = 0;
        var EmailContact = "";
        var GsmContact = "";

        var Distributeur = {
            Distributeur_RaisonSocial: FournisseurRS,
            Distributeur_RaisonSocialAR: FournisseurRSAR,
            Distributeur_ICE: parseInt(ICE),
            Distributeur_IF: parseInt(IF),
            Distributeur_Adresse: Adresse,
            Distributeur_NomContact: $("#nomcontact").val(),
            Distributeur_Telephone: $("#noTel").val(),

        }

        var data = {
            distributeurModel: Distributeur
        };
        var formData = new FormData();
        var file = document.getElementById("fileinput").files[0];
        formData.append("Distributeur_Photo", file);
        formData.append("Distributeur_RaisonSocial", FournisseurRS);
        formData.append("Distributeur_RaisonSocialAR", FournisseurRSAR);
        formData.append("Distributeur_ICE", parseInt(ICE));
        formData.append("Distributeur_IF", parseInt(IF));
        formData.append("Distributeur_Adresse", Adresse);
        formData.append("Distributeur_NomContact", $("#nomcontact").val());
        formData.append("Distributeur_Telephone", $("#noTel").val());



        console.log(formData);
        $.ajax({
            url: '@Url.Action("AjouterDistributeur", "Fournisseur")',
            type: "POST",
            cache: false,
            async: true,
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: formData,
            success: function (data) {
                if (data == true) {
                    ShowNotification("Ditributeur  ajouté avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                    setTimeout(
                        function () {
                            window.location.href = '@Url.Action("ListeDistributeur", "Fournisseur")';
                        }, 2000);
                } else {
                    ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                    setTimeout(
                        function () {
                            window.location.reload();
                        }, 2000);
                }
            },
            error: function () {
                alert("non ajoute");
            }
        });
    }
    var isArabic = /^([\u0600-\u06ff]|[\u0750-\u077f]|[\ufb50-\ufbc1]|[\ufbd3-\ufd3f]|[\ufd50-\ufd8f]|[\ufd92-\ufdc7]|[\ufe70-\ufefc]|[\ufdf0-\ufdfd])*$/g;
    var isArabic2 = /^[\u0621-\u064A\u0660-\u0669 ]+$/;
    function testAR() {
        var filterFn = isArabic2.test.bind(isArabic2);
        var newValue = $("#rsA").val().split().filter(filterFn);
        console.log(newValue)


        if ($("#rsA").val() != newValue)
            $("#rsA").val(newValue);
    }
</script>
