
@model Domain.Models.Lieu_StockageModel

@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
<div class="app-content content">
    <section id="basic-form-layouts">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title" id="basic-layout-form"> Modifier un point de stockage</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form" asp-action="ModificationPointStock" method="post">
                        <div class="form-body">
                            <h4 class="form-section">
                            </h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="PointVente_Nom">Point de stockage</label>
                                        <input type="text" asp-for="LieuStockag_Nom" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ville">Ville</label>
                                        <select class="custom-select" id="ville" data-search="true" asp-for="LieuStockag_VilleID" asp-items="@ViewBag.LieuStockag_VilleID">
                                            <option value="" id="ville" selected disabled>Sélectionnez une ville...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Code Postal">Code Postal</label>
                                        <input type="number" id="code" class="form-control" asp-for="LieuStockag_CodePostal" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Adresse">Adresse</label>
                                        <input type="text" asp-for="LieuStockag_Adresse" class="form-control" required />
                                    </div>
                                </div>
                            </div>

                            <h4 class="form-section">
                                <i class="icon-book-open"></i>Contact Info
                            </h4>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="ContactName">Responsable</label>
                                        <select class="custom-select" id="inputGroupSelected02" data-search="true" asp-for="LieuStockag_NomResponsable" asp-items="@ViewBag.LieuStockag_NomResponsable" required>
                                        </select>
                                        @*<input type="text" asp-for="PointVente_NomResponsable" class="form-control" required />*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Tel">Numéro de Téléphone </label>
                                        <input type="tel" asp-for="LieuStockag_Telephone" class="form-control" maxlength="10" minlength="10" required />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-actions text-sm-right">
                            <a class="btn btn-danger" asp-action="ListeLieuStockage">
                                Annuler
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="icon-note"></i> Modifier
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>


