@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Famille Produits";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model Domain.Models.FamilleProduitModel

@{
    ViewData["Title"] = "Ajouter une Famille";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeProduits">Liste des catégorie</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Ajouter une catégorie</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="basic-form-layouts">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title" id="basic-layout-form">Ajouter une catégorie</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-3">
                        <form class="form" action="Ajouter" onsubmit="theButton.disabled = true; return true;"  method="post">
                            <div class="form-body">
                                <h4 class="form-section">
                                </h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Libelle"> Nom de catégorie</label>
                                            <input type="text" asp-for="FamilleProduit_Libelle" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                <a class="btn btn-danger" asp-action="ListeProduits">
                                    Annuler
                                </a>
                                <button type="submit" name="theButton" class="btn btn-success">
                                    <i class="icon-note"></i> Enregistrer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
