<!DOCTYPE html>
<style>
    body {
        font-family: 'Trebuchet MS', sans-serif;
    }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .Fb {
        font-weight: bold
    }

    .text-left {
        text-align: left
    }

    .text-right {
        text-align: right
    }

    .text-center {
        text-align: center
    }

    .entet td {
        border: 1px solid #000;
        font-size: 12px;
        text-align: center;
        line-height: 18px;
    }

    .entetimg td {
        border: none;
        text-align: center;
    }

    h4, h5 {
        margin-bottom: 0px
    }

    .titable {
        margin-top: 10px
    }

        .titable th {
            background: #f1f1f1;
            padding: 2px 0;
            border: 1px solid #000
        }

        .titable td {
            background: #ffffff;
            padding: 2px 0;
            border: 1px solid #000
        }
</style>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <div style=" width:95%; margin: 50px auto">
        <table class="entet">
            <tbody>
                <tr>
                    <td rowspan="2" class="text-left" width="10%"><img src="logo.png" alt="" width="100" /></td>
                    <td style="font-size: 22px">Fiche technique produit</td>
                    <td colspan="2">REF :</td>
                </tr>
                <tr>
                    <td style="font-size: 22px" class="text-left" width="35%">Atelier marocain de gourmandises</td>
                    <td>Version <br> 20-08-2019</td>
                    <td>Maj <br> 06-09-2019</td>
                </tr>
            </tbody>
        </table>

        <table class="entetimg">
            <tbody>
                <tr>
                    <td><img src="images.jpg" alt="" width="150" /></td>
                </tr>
            </tbody>
        </table>

        <table class="entet">
            <tbody>
                <tr>
                    <td style="padding: 6px 0; line-height: 25px; font-size: 22px">AMERICAN BROWNIE <br> (Pour 10 Piéces)</td>
                </tr>
            </tbody>
        </table>

        <h4>Liste d'ingrédients :</h4>
        <table class="titable">
            <thead>
                <tr>
                    <th width="15%">Code</th>
                    <th width="55%">Designation</th>
                    <th width="15%">Quantite</th>
                    <th width="15%">Condtionnement</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>



            </tbody>
        </table>

        <h5>Ganache chocolat tigré</h5>
        <table class="titable">
            <thead>
                <tr>
                    <th width="15%"></th>
                    <th width="55%">Designation</th>
                    <th width="15%">Quantite</th>
                    <th width="15%">Condtionnement</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>




            </tbody>
        </table>

        <h5>Glacage noir FS</h5>
        <table class="titable">
            <thead>
                <tr>
                    <th width="15%"></th>
                    <th width="55%">Designation</th>
                    <th width="15%">Quantite</th>
                    <th width="15%">Condtionnement</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>




            </tbody>
        </table>
    </div>
</body>
</html>